body {
    background-color: #1a1a2e;
    color: white;
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #16213e;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: #16213e;
    padding: 25px;
    border-radius: 12px;
}

select {
    width: 20%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #1a1a2e;
    color: white;
    margin-top: 10px;
}

a {
    color: orangered;
    text-decoration: none;
}