body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a2e;
    margin: 0;
}

form {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 12px;
    width: 400px;
    display: flex;
    flex-direction: column;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #C04000;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

a{
    text-align: center;
    margin-top: 10px;
    color: #C04000;
}